# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log


# ----------------------------------------
# ENV
# ----------------------------------------
.env

# ----------------------------------------
# old files just for code reference
# ----------------------------------------


views/oldlogin.handlebars
views/oldhome.handlebars
