<div class="jumbotron">
  <h1 class="display-3">Your CryptoBase</h1>
  <p class="lead">Here's all your information on cryptocurrencies, click below to select coins, find news, and check prices</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary" href="/logout" role="button">Logout here</a>
  </p>
</div>

<div class="row">
  <div class="col-sm-3 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-12">
        <div class="list-group">
          <a href="#" class="list-group-item active">
                  Current Prices
                </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="list-group">
          <a href="#" class="list-group-item active">
                  List of Avaialble Coins
                </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="list-group">
          <a href="#" class="list-group-item active">
                  Improve Your Knowledge
                </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Recent News on Your Coins</h4>
        <p class="list-group-item-text">Make sure to keep updated.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
  </div>
</div>